<!-- <section class="user-detail__wrapper" *ngIf="detailUser">
  <div class="user__header">
    <div class="user__background">
      <img
        src="https://i.pinimg.com/564x/18/c7/f8/18c7f84b45b6f1bec242745945637893.jpg"
        alt=""
      />
    </div>
    <div class="user__avatar">
      <img [src]="detailUser.avatar" alt="image" class="img__avatar" />
    </div>
  </div>
  <div class="title__user">
    <h2 class="name__user">{{ detailUser.name }}</h2>
    <p class="performance">
      {{ detailUser.desc }}
    </p>
  </div>
  <div class="user--content d-flex gap-3">
    <div class="content-left">
      <h3 class="mb-3 mt-2 text-center fs-5">Thông tin chi tiết</h3>
      <table>
        <tr>
          <th>Chức vụ:</th>
          <td>{{ detailUser.position }}</td>
        </tr>
        <tr>
          <th>Địa chỉ:</th>
          <td></td>
        </tr>
        <tr>
          <th>Số điện thoại:</th>
          <td></td>
        </tr>
        <tr class="social">
          <th rowspan="3">Social:</th>
          <td class="d-flex flex-column">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </td>
        </tr>
      </table>
    </div>
    <div class="content-right">
      <h3 class="mb-3 text-center mt-2">List Post</h3>
      <div class="list__post d-flex flex-column gap-5">
        <app-card-post></app-card-post>
        <app-card-post></app-card-post>
        <app-card-post></app-card-post>
      </div>
    </div>
  </div>
</section> -->
