<div class="container">
  <section class="home-wrapper-1 py-5 container">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="main-banner position-relative">
            <img
              src="assets/images/product/1.jpg"
              alt="main-banner"
              class="img-fluid rounded-3"
            />
            <div class="main-banner-content position-absolute">
              <h4>Đang chiếu khởi chiếu</h4>
              <h5>Boruto</h5>
              <p>Bản quyền chỉ có Mỳ Anime</p>
              <button class="button p2">
                Xem thêm
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-6 d-flex flex-wrap gap-2 justify-content-between align-items-center"
        >
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/small4.webp"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Hành Động</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/thamtu.jpg"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Trinh Thám</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/8417764.jpg"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-5">Chuyển Sinh</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/03634bea9c4e8316c2c94e218aa4ff6b.png"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Lãng Mạng</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="famous-wrapper py-5 home-wrapper-2">
    <div class="container-xxl">
      <div class="row" style="gap: 2%; margin-left: 2%">
        <div class="w-23">
          <div class="famous-card bg-black position-relative">
            <img
              src="assets/images/product/sub.jpg"
              class="img-fluid"
              alt="famous"
            />
            <div class="famous-content position-absolute">
              <h5 class="fs-6">Your Name</h5>
              <h6>Mang đến nhiều cảm xúc</h6>
              <p class="fw-bold">Trãi nghiệm màu sắc mới</p>
            </div>
          </div>
        </div>
        <div class="w-23">
          <div class="famous-card bg-black position-relative">
            <img
              src="assets/images/product/Na.jpg"
              class="img-fluid"
              alt="famous"
            />
            <div class="famous-content position-absolute">
              <h5 class="fs-6">Naruto Shippuden</h5>
              <h6>Nhập vai cùng Naruto</h6>
              <p class="fw-bold">Hành trình và nhiều cảm xúc</p>
            </div>
          </div>
        </div>
        <div class="w-23">
          <div class="famous-card bg-black position-relative">
            <img
              src="assets/images/product/dra.jpg"
              class="img-fluid"
              alt="famous"
            />
            <div class="famous-content position-absolute">
              <h5 class="fs-6">Dragon Ball super</h5>
              <h6 class="fs-5" style="color: 3be00ff">
                Những pha combat lôi cuốn
              </h6>
              <p class="fw-bold">Chiến đấu bảo vệ hành tinh</p>
            </div>
          </div>
        </div>
        <div class="w-23">
          <div class="famous-card bg-black position-relative">
            <img
              src="assets/images/product/oneP.jpg"
              class="img-fluid"
              alt="famous"
            />
            <div class="famous-content position-absolute">
              <h5 class="fs-6 text-dark">One Piece</h5>
              <h6 class="text-dark">Hành trình khám phá</h6>
              <p class="text-dark fw-bold">
                Tìm kiếm kho báu và những hòn đảo mới
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="popular-wrapper home-wrapper-2">
    <div class="container">
      <div class="row">
        <div class="section-heading">Thể loại Isekai</div>
      </div>
      <div class="row">
        <div class="d-flex" style="gap: 2%; margin-left: 1%">
          <app-product-card class="w-23"></app-product-card>
          <app-product-card class="w-23"></app-product-card>
          <app-product-card class="w-23"></app-product-card>
          <app-product-card class="w-23"></app-product-card>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-wrapper home-wrapper-2">
    <div class="container">
      <div class="row">
        <div class="section-heading">Our laster Blogs</div>
        <div class="row mb-4" style="gap: 2%; margin-left: 1%">
          <div class="w-23">
            <app-card-post></app-card-post>
          </div>
          <div class="w-23">
            <app-card-post></app-card-post>
          </div>
          <div class="w-23">
            <app-card-post></app-card-post>
          </div>
          <div class="w-23">
            <app-card-post></app-card-post>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
