<div class="container">
  <section class="home-wrapper-1 py-5 container">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="main-banner position-relative">
            <img
              src="assets/images/product/1.jpg"
              alt="main-banner"
              class="img-fluid rounded-3"
            />
            <div class="main-banner-content position-absolute">
              <h4>Đang chiếu khởi chiếu</h4>
              <h5>Boruto</h5>
              <p>Bản quyền chỉ có Mỳ Anime</p>
              <button>
                <div>
                  <span>
                    <p>Hover Me</p>
                    <p>:)</p>
                  </span>
                </div>
                <div>
                  <span>
                    <p>Thanks</p>
                    <p>:D</p>
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-6 d-flex flex-wrap gap-2 justify-content-between align-items-center"
        >
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/small4.webp"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Hành Động</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/thamtu.jpg"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Trinh Thám</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/8417764.jpg"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-5">Chuyển Sinh</h4>
            </div>
          </div>
          <div class="small-banner position-relative">
            <img
              src="assets/images/product/03634bea9c4e8316c2c94e218aa4ff6b.png"
              alt="small-banner"
              class="img-fluid rounded-3"
            />
            <div class="small-banner-content content-title position-absolute">
              <h4 class="text-white fw-bold fs-4">Lãng Mạng</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
