.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card:hover .action-bar {
  right: 15px;
}


.product-card .product-image {
  height: 300px;
}
.product-card .product-image img {
  object-fit: contain;
  width: 100%;height: 100%;
}

.product-card p.description,
.product-card p.description.d-webkit-box {
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng cần hiển thị */
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-777);
    margin-right: 20px;
}


.product-card .product-details h6 {
color: var(--color-1c1c1b);
font-size: 15px;
}
.product-card .product-details h5 {
color: var(--color-1c1c1b);
font-size: 15px;
}
.product-card .product-details p.price {
color: var(--color-1c1c1b);
font-size: 16px;
}
.action-bar {
top: 10%;right: -25px;
transition: .3s;
}
.action-bar a {
    margin-top: 5px;
font-size: 15px;
color: black;
transition: .3s;
}
.action-bar a:hover {
    
color: var( --color-bf4800);
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}

