<a href="/post-detail">
  <div class="card__post d-flex gap-3">
    <div class="image-post">
      <img
        src="https://i.pinimg.com/564x/eb/01/25/eb0125d4f96bce87ff0b23395cafbf8d.jpg"
        alt=""
      />
    </div>
    <div class="content-post">
      <div class="content__title-post">
        <h2>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam,
          assumenda.
        </h2>
      </div>
      <div class="content__desc-post">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid earum
          at deserunt eum labore quod voluptatem voluptatibus hic, ipsum totam
          voluptatum, dolorum quisquam libero vero sint molestias quidem id
          doloremque?
        </p>
      </div>
      <div class="date__post">
        <p>
          <i class="fa-regular fa-clock"></i>&nbsp; ngày đăng:&nbsp;{{ day }} |
          {{ month }}
        </p>
      </div>
    </div>
  </div>
</a>
