<div class="card">
  <div class="card-header">
    <h4>Product list</h4>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <label class="col-2">Filter:</label>
      <input type="text" class="col-3" [(ngModel)]="listFilter" />
      <div class="col-7"></div>
    </div>
    <div class="row mb-4">
      <h2 class="col-12">Filter by:</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
        <tr *ngFor="let item of listProduct">
          <td><img [src]="item.imageUrl" width="50px" /></td>
          <td>
            <a href="product/1">{{ item.productName }}</a>
          </td>
          <td>{{ item.productCode }}</td>
          <td>{{ item.releaseDate }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.starRating }}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
