<div>
  <div class="store-wrapper home-wrapper-2 py-5">
    <div class="container-xxl">
      <div class="row">
        <div class="col-3">
          <div class="filter-card mb-3">
            <h3 class="filter-title">Shop by Category</h3>
            <div>
              <ul class="ps-0">
                <li><button class="btn border-0">zxc</button></li>
              </ul>
            </div>
          </div>
          <div class="filter-card mb-3">
            <h3 class="filter-title">hop by Category</h3>
            <div>
              <h5 class="sub-title">Availablity</h5>
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id=""
                  />
                  <label class="form-check-label" htmlFor=""
                    >in stock (1)</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id=""
                  />
                  <label class="form-check-label" htmlFor=""
                    >in stock (0)</label
                  >
                </div>
              </div>
              <h5 class="sub-title">Price</h5>
              <div class="d-flex align-items-center gap-3">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="From"
                  />
                  <label for="floatingInput">From</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="To"
                  />
                  <label for="floatingInput">To</label>
                </div>
              </div>
              <h5 class="sub-title">Color</h5>
              <div>
                <ul class="colors ps-0">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <h5 class="sub-title">Size</h5>
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="color-1"
                  />
                  <label class="form-check-label" htmlFor="color-1"
                    >S (2)</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="color-2"
                  />
                  <label class="form-check-label" htmlFor="color-2"
                    >M (2)</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="filter-card mb-3">
            <h3 class="filter-title">Product Tag</h3>
            <div>
              <div
                class="product-tags d-flex flex-wrap align-items-center gap-3"
              >
                <span class="badge bg-light text-secondary rounded-3 py-2 px-3">
                  Headphone
                </span>
                <span class="badge bg-light text-secondary rounded-3 py-2 px-3">
                  Laptop
                </span>
                <span class="badge bg-light text-secondary rounded-3 py-2 px-3">
                  Mobile
                </span>
                <span class="badge bg-light text-secondary rounded-3 py-2 px-3">
                  Wireless
                </span>
              </div>
            </div>
          </div>
          <div class="filter-card mb-3">
            <h3 class="filter-title">Random Product</h3>
            <div>
              <div class="random-products d-flex">
                <div class="w-50">
                  <img class="img-fluid" alt="watch" />
                </div>
                <div class="w-50">
                  <h5></h5>
                  <app-star></app-star>
                  <h6 class="brand type">
                    <span class="text-dark">Tác giả:</span>
                  </h6>
                  <h6 class="category mb-2 type">
                    <span class="text-dark">Thể loại:</span>
                  </h6>
                </div>
              </div>
              <div class="random-products d-flex">
                <div class="w-50">
                  <img class="img-fluid" alt="watch" />
                </div>
                <div class="w-50">
                  <h5></h5>
                  <app-star></app-star>
                  <h6 class="brand type">
                    <span class="text-dark">Tác giả:</span>
                  </h6>
                  <h6 class="category mb-2 type">
                    <span class="text-dark">Thể loại:</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="filter-sort-grid mb-4">
            <div class="d-flex justify-content-between align-content-center">
              <div class="d-flex align-items-center gap-3">
                <p class="mb-0 w-50">Sort By:</p>
                <select name="" class="form-control form-select" id="">
                  <option value="manual">Featured</option>
                  <option value="best-selling" selected="selected">
                    Best selling
                  </option>
                  <option value="title-ascending">Alphabetically, A-Z</option>
                  <option value="title-descending">Alphabetically, Z-A</option>
                  <option value="price-ascending">Price, low to high</option>
                  <option value="price-descending">Price, high to low</option>
                  <option value="created-ascending">Date, old to new</option>
                  <option value="created-descending">Date, new to old</option>
                </select>
              </div>
              <div class="d-flex align-items-center gap-10">
                <p class="totalproduct mb-0">21 Prodcuts</p>
                <div class="d-flex gap-10 align-items-center grid">
                  <img
                    src="assets/images/gr4.svg"
                    class="img-fluid d-block"
                    alt="grid"
                  />
                  <img
                    src="assets/images/gr3.svg"
                    class="img-fluid d-block"
                    alt="grid"
                  />
                  <img
                    src="assets/images/gr2.svg"
                    class="img-fluid d-block"
                    alt="grid"
                  />
                  <img
                    src="assets/images/gr.svg"
                    class="img-fluid d-block"
                    alt="grid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="products-list pb-5">
            <div class="d-flex gap-3 flex-wrap">
              <app-product-card></app-product-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
