.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 25px;
}
.filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
}

.filter-card ul,
.filter-card .form-check-label {
    list-style-type:none ;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
    
}
.filter-card ul li a {
        color: var(--color-777);
    cursor: pointer;

}
.filter-card ul li a:hover {
        color: var(--color-1c1c1b);

}

.sub-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-top: 15px;
}

.colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.colors li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.random-products h5{
    font-size: 14px;
    margin-bottom: 8px;
}
.random-products:first-child {
    border-bottom: 1px solid var(--color-ededed);
    margin-bottom: 15px;
}

.filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.grid img {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.grid img:hover {
    background-color: var(--bs-danger);
}
/* custom grid store*/
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}

.gr-4 .product-card .product-image {
    width: 100%;
}
.gr-4 .product-card .product-image img{
    margin: auto;
}
.gr-6 .product-card .product-image {
    width: 100%;
}
.gr-6 .product-card .product-image img{
    margin: auto;
}

.gr-12 .product-card {
    display: flex;
    gap: 20px;
}
.gr-12 .product-card .product-image{
    width: 100%;
    height: auto;
}


.gr-12 .product-card .action-bar{
    top: 16%;
}

.random-products div img {
    width: 100px !important;
    margin: auto;
    height: 150px !important;
}