.post-comment .heading {
    padding: 10px 20px ;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
}

.bottom-comment p {
    padding: 0 20px;
}

.noidung-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none ;
}

.form-comment {
    margin-bottom: 80px !important;
}

.content-comment {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 20px;
    line-height: 30px;
}