<section>
  <div class="container pt-3">
    <div class="post-wrapper">
      <div class="post-title">
        <h2 class="text-center">
          Dàn robot mới gây choáng ngợp trong ‘Transformers 7’
        </h2>
      </div>
      <div class="author text-center">
        <p class="fs-4"><a href="/">Văn Tài</a> | ngày đăng: 22/5</p>
      </div>
      <div class="post-content">
        <p class="fw-bold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quam
          reprehenderit, asperiores molestiae earum et odio, perspiciatis harum
          enim possimus explicabo nostrum! Eaque maxime alias asperiores dolorum
          vero neque molestiae!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
          voluptatum totam nobis fugit molestiae ab et consectetur, deleniti
          repellat nostrum esse voluptatibus numquam laboriosam itaque
          aspernatur voluptas. Porro iste at cum aut libero tempora corporis
          suscipit. Facilis odio voluptate, architecto dignissimos recusandae
          consequuntur voluptas voluptatibus pariatur! Quae quod beatae aliquid!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, vero
          reiciendis incidunt fugiat quo esse libero architecto iste repudiandae
          sunt. Illo nam, magnam excepturi hic dolorem mollitia blanditiis
          labore quis sequi! Quisquam dicta molestias officiis, consequuntur
          tempora sunt necessitatibus, iste accusantium praesentium aliquam rem
          nihil optio! Molestiae modi eveniet perferendis minima voluptas libero
          quasi itaque laudantium maiores tempora, quam possimus molestias quae
          natus, velit accusantium delectus suscipit impedit fuga soluta eos
          adipisci autem cumque? Fugiat ducimus a numquam nisi. Illum et,
          eveniet praesentium voluptas velit sunt! At deleniti sed illum
          voluptatibus iure tenetur dolorem nobis voluptatum eius. Eum, eveniet
          aut.
        </p>

        <div class="noidung-image">
          <img
            width="1000"
            height="600"
            src="https://media.vov.vn/sites/default/files/styles/large/public/2023-05/ho_duc_phoc_24.5.jpg"
            alt=""
          />
        </div>
        <p class="text-center fs-6" style="color: gray">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, sit?
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum
          pariatur eos corporis blanditiis, id, voluptatem cumque mollitia vero
          provident nulla quam error ipsam consequatur officia reprehenderit cum
          accusamus numquam optio incidunt alias quo. Aliquid quos nam at
          suscipit. Voluptate, iste suscipit nisi omnis quisquam, cupiditate
          inventore totam veritatis sunt rem mollitia. Laborum quaerat enim eum?
          Nostrum illo fugiat corporis debitis rem libero perferendis neque
          eveniet corrupti adipisci quod reiciendis repellat, atque blanditiis
          vero eaque voluptatem fuga consectetur? Necessitatibus iste sit
          veritatis quas ipsum exercitationem quaerat earum distinctio tempore!
          Magnam suscipit, maiores doloribus praesentium dolorem doloremque nisi
          sequi nobis optio.
        </p>
      </div>
    </div>

    <div class="post-comment pt-3">
      <h2 class="fw-bold heading text-light">Comment</h2>
      <div class="container d-flex ps-5 mb-5">
        <div class="" style="width: 40%; margin-right: 10%">
          <div class="content-comment mb-3" *ngFor="let item of listComment">
            <div class="top-comment d-flex gap-3 align-items-center">
              <div class="user-comment fs-3 fw-bold">{{ item.fullName }}</div>
            </div>
            <app-star [rating]="item.rating"></app-star>
            <div class="bottom-comment">
              <p>
                {{ item.commentContent }}
              </p>
            </div>
          </div>
          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
        <div class="form-comment w-50">
          <form
            action=""
            class="position-relative"
            (ngSubmit)="submitComment()"
            [formGroup]="submitForm"
          >
            <div class="mb-3">
              <label class="form-label">Choose Star</label>

              <select
                formControlName="rating"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="fullName" class="form-label">Your Name</label>
              <input
                formControlName="fullName"
                type="text"
                class="form-control"
                id="fullName"
                placeholder="John Backam"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="commentContent" class="form-label"
                >Example textarea</label
              >
              <textarea
                formControlName="commentContent"
                class="form-control"
                id="commentContent"
                rows="3"
              ></textarea>
            </div>

            <button
              class="button position-absolute"
              type="submit"
              style="right: 10px"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
