<section>
  <div class="container pt-3">
    <div class="post-wrapper">
      <div class="post-title">
        <h2 class="text-center">
          Dàn robot mới gây choáng ngợp trong ‘Transformers 7’
        </h2>
      </div>
      <div class="author text-center">
        <p class="fs-4"><a href="/">Văn Tài</a> | ngày đăng: 22/5</p>
      </div>
      <div class="post-content">
        <p class="fw-bold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quam
          reprehenderit, asperiores molestiae earum et odio, perspiciatis harum
          enim possimus explicabo nostrum! Eaque maxime alias asperiores dolorum
          vero neque molestiae!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
          voluptatum totam nobis fugit molestiae ab et consectetur, deleniti
          repellat nostrum esse voluptatibus numquam laboriosam itaque
          aspernatur voluptas. Porro iste at cum aut libero tempora corporis
          suscipit. Facilis odio voluptate, architecto dignissimos recusandae
          consequuntur voluptas voluptatibus pariatur! Quae quod beatae aliquid!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, vero
          reiciendis incidunt fugiat quo esse libero architecto iste repudiandae
          sunt. Illo nam, magnam excepturi hic dolorem mollitia blanditiis
          labore quis sequi! Quisquam dicta molestias officiis, consequuntur
          tempora sunt necessitatibus, iste accusantium praesentium aliquam rem
          nihil optio! Molestiae modi eveniet perferendis minima voluptas libero
          quasi itaque laudantium maiores tempora, quam possimus molestias quae
          natus, velit accusantium delectus suscipit impedit fuga soluta eos
          adipisci autem cumque? Fugiat ducimus a numquam nisi. Illum et,
          eveniet praesentium voluptas velit sunt! At deleniti sed illum
          voluptatibus iure tenetur dolorem nobis voluptatum eius. Eum, eveniet
          aut.
        </p>

        <div class="noidung-image">
          <img
            width="1000"
            height="600"
            src="https://media.vov.vn/sites/default/files/styles/large/public/2023-05/ho_duc_phoc_24.5.jpg"
            alt=""
          />
        </div>
        <p class="text-center fs-6" style="color: gray">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, sit?
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum
          pariatur eos corporis blanditiis, id, voluptatem cumque mollitia vero
          provident nulla quam error ipsam consequatur officia reprehenderit cum
          accusamus numquam optio incidunt alias quo. Aliquid quos nam at
          suscipit. Voluptate, iste suscipit nisi omnis quisquam, cupiditate
          inventore totam veritatis sunt rem mollitia. Laborum quaerat enim eum?
          Nostrum illo fugiat corporis debitis rem libero perferendis neque
          eveniet corrupti adipisci quod reiciendis repellat, atque blanditiis
          vero eaque voluptatem fuga consectetur? Necessitatibus iste sit
          veritatis quas ipsum exercitationem quaerat earum distinctio tempore!
          Magnam suscipit, maiores doloribus praesentium dolorem doloremque nisi
          sequi nobis optio.
        </p>
      </div>
    </div>

    <div class="post-comment pt-3">
      <h2 class="fw-bold heading text-light">Comment</h2>
      <div class="container ps-5">
        <div class="content-comment mb-3">
          <div class="top-comment d-flex gap-3 align-items-center">
            <div class="user-comment fs-3 fw-bold">Văn Tài</div>
            <div class="rating">
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
            </div>
          </div>
          <div class="bottom-comment">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              ipsum placeat tempore numquam quibusdam, aperiam provident,
              asperiores magni rem quis veniam reiciendis soluta iusto nihil,
              dolor ipsam dignissimos distinctio voluptas. Ipsa voluptate sequi
              dolor eos doloremque expedita sit dignissimos, nemo placeat fuga
              doloribus porro eius veniam culpa officia obcaecati magnam cumque
              autem similique! Libero, amet! Quo inventore harum sint? Mollitia
              laborum unde quia, odit dicta harum doloremque, optio aspernatur
              aut eum sint consequuntur, deleniti error odio ipsam qui quibusdam
              alias! Inventore tempora repudiandae culpa voluptatibus eveniet
              quibusdam incidunt atque, illo, qui accusantium distinctio
              deserunt magni at et non dolore pariatur.
            </p>
          </div>
        </div>
        <div class="content-comment mb-3">
          <div class="top-comment d-flex gap-3 align-items-center">
            <div class="user-comment fs-3 fw-bold">Văn Tài</div>
            <div class="rating">
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
            </div>
          </div>
          <div class="bottom-comment">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              ipsum placeat tempore numquam quibusdam, aperiam provident,
              asperiores magni rem quis veniam reiciendis soluta iusto nihil,
              dolor ipsam dignissimos distinctio voluptas. Ipsa voluptate sequi
              dolor eos doloremque expedita sit dignissimos, nemo placeat fuga
              doloribus porro eius veniam culpa officia obcaecati magnam cumque
              autem similique! Libero, amet! Quo inventore harum sint? Mollitia
              laborum unde quia, odit dicta harum doloremque, optio aspernatur
              aut eum sint consequuntur, deleniti error odio ipsam qui quibusdam
              alias! Inventore tempora repudiandae culpa voluptatibus eveniet
              quibusdam incidunt atque, illo, qui accusantium distinctio
              deserunt magni at et non dolore pariatur.
            </p>
          </div>
        </div>
        <div class="content-comment mb-3">
          <div class="top-comment d-flex gap-3 align-items-center">
            <div class="user-comment fs-3 fw-bold">Văn Tài</div>
            <div class="rating">
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
            </div>
          </div>
          <div class="bottom-comment">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              ipsum placeat tempore numquam quibusdam, aperiam provident,
              asperiores magni rem quis veniam reiciendis soluta iusto nihil,
              dolor ipsam dignissimos distinctio voluptas. Ipsa voluptate sequi
              dolor eos doloremque expedita sit dignissimos, nemo placeat fuga
              doloribus porro eius veniam culpa officia obcaecati magnam cumque
              autem similique! Libero, amet! Quo inventore harum sint? Mollitia
              laborum unde quia, odit dicta harum doloremque, optio aspernatur
              aut eum sint consequuntur, deleniti error odio ipsam qui quibusdam
              alias! Inventore tempora repudiandae culpa voluptatibus eveniet
              quibusdam incidunt atque, illo, qui accusantium distinctio
              deserunt magni at et non dolore pariatur.
            </p>
          </div>
        </div>
        <div class="content-comment mb-3">
          <div class="top-comment d-flex gap-3 align-items-center">
            <div class="user-comment fs-3 fw-bold">Văn Tài</div>
            <div class="rating">
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
              <span class="fa-star fa-solid"></span>
            </div>
          </div>
          <div class="bottom-comment">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              ipsum placeat tempore numquam quibusdam, aperiam provident,
              asperiores magni rem quis veniam reiciendis soluta iusto nihil,
              dolor ipsam dignissimos distinctio voluptas. Ipsa voluptate sequi
              dolor eos doloremque expedita sit dignissimos, nemo placeat fuga
              doloribus porro eius veniam culpa officia obcaecati magnam cumque
              autem similique! Libero, amet! Quo inventore harum sint? Mollitia
              laborum unde quia, odit dicta harum doloremque, optio aspernatur
              aut eum sint consequuntur, deleniti error odio ipsam qui quibusdam
              alias! Inventore tempora repudiandae culpa voluptatibus eveniet
              quibusdam incidunt atque, illo, qui accusantium distinctio
              deserunt magni at et non dolore pariatur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
