<div>
  <header class="header-upper py-3">
    <div class="container-xxl">
      <div class="row align-items-center">
        <div class="col-2">
          <h2>
            <a href="/" class="text-white"> Mỳ Anime </a>
          </h2>
        </div>
        <div class="col-5">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control py-2"
              placeholder="Search Product Here..."
              aria-label="Search Product Here..."
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text p-3" id="basic-addon2"
              ><i class="fa-solid fa-magnifying-glass fs-6"></i
            ></span>
          </div>
        </div>
        <div class="col-5">
          <div
            class="header-upper-links d-flex align-items-center justify-content-center"
          >
            <div>
              <a
                href="wishlist"
                class="d-flex align-items-center gap-10 text-white"
              >
                <img src="assets/images/wishlist.svg" alt="wishlist" />
                <p class="mb-0">
                  Favourite <br />
                  Wishlist
                </p>
              </a>
            </div>
            <div>
              <div class="dropdown">
                <button
                  class="btn btn-secondary btn-dropdown__user dropdown-toggle bg-transparent border-0 d-flex gap-2 align-items-center"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="assets/images/user.svg" alt="user" />
                  <p class="">
                    <br />
                    My Account
                  </p>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item text-light" href="wishlist"
                      >Wishlist</a
                    >
                  </li>
                  <li><button class="dropdown-item text-light"></button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="header-bottom py-3">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="menu-bottom d-flex align-items-center gap-5">
            <div>
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle bg-transparent border-0 d-flex gap-2 align-items-center"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="assets/images/menu.svg" alt="menu" /><span
                    class="me-5 d-inline-block"
                    >Shop Categories</span
                  >
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="/#">Action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/#">Another action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/#">Something else here</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="menu-links">
              <div class="d-flex align-items-center gap-15">
                <a href="/">Home</a>
                <a href="/products">Product</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
