<div class="blog-card">
  <div class="card-image">
    <img src="assets/images/blog-1.jpg" alt="blog" class="img-fluid" />
  </div>
  <div class="blog-content">
    <p class="date">1 dec, 2022</p>
    <h5 class="title">A beautiful snunday morning reaissance</h5>
    <p class="desc">
      Được dịch từ tiếng Anh-Trong xuất bản và thiết kế đồ họa, Lorem ipsum là
      một văn bản giữ chỗ ch từ tiếng Anh-Trong xuất bản và thiết kế đồ họa,
      Lorem ipsum là một văn bản giữ chỗ
    </p>
    <a href="/blog/1" class="button">Read More</a>
  </div>
</div>
