<footer class="py-4">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="col-5">
        <div class="footer-hrefp-data d-flex gap-5 align-item">
          <img src="assets/images/newsletter.png" alt="newsletter" />
          <h2 class="mb-0 text-white">Sign Up for Newsletter</h2>
        </div>
      </div>
      <div class="col-7">
        <div class="input-group mb-2">
          <input
            type="text"
            class="form-control py-2"
            placeholder="Type your email..."
            aria-label="Type your email..."
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text p-3" id="basic-addon2">Subscrice</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-4">
  <div class="container-xxl">
    <div class="row">
      <div class="col-4">
        <h4 class="text-white mb-4">Contact Us</h4>
        <address class="fs-6 text-white">
          Address: 277 Le Do, <br />
          Thanh Khe, Da Nang<br />
          Pincode: 500000
        </address>
        <a href="tel:0901972747" class="mt-4 d-block mb-1 text-white"
          >Tel: +84 0901972747</a
        >
        <a
          href="mail:dovantai112344@gmail.com"
          class="mt-4 d-block mb-4 text-white"
          >Mail: dovantai112344@gmail.com</a
        >

        <div class="social_icons d-flex align-items-center gap-5">
          <a class="text-white fs-4" href="/#">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a class="text-white fs-4" href="/#">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a class="text-white fs-4" href="/#">
            <i class="fa-brands fa-github"></i>
          </a>
          <a class="text-white fs-4" href="/#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-3">
        <h4 class="text-white mb-4">Information</h4>
        <div class="footer-links flex-column d-flex">
          <a href="/privacy-policy" class="text-white py-2 mb-1"
            >Privacy Policy</a
          >
          <a href="/refund-policy" class="text-white py-2 mb-1"
            >Refund Policy</a
          >
          <a href="/shipping-policy" class="text-white py-2 mb-1"
            >Shipping Policy</a
          >
          <a href="/termconditions" class="text-white py-2 mb-1"
            >Term Conditions</a
          >
          <a href="/blog" class="text-white py-2 mb-1">Blogs</a>
        </div>
      </div>
      <div class="col-3">
        <h4 class="text-white mb-4">Account</h4>
        <div class="footer-links flex-column d-flex">
          <a class="text-white py-2 mb-1">About Us</a>
          <a class="text-white py-2 mb-1">Faq</a>
          <a class="text-white py-2 mb-1">Contact</a>
        </div>
      </div>
      <div class="col-2">
        <h4 class="text-white mb-4">Quick links</h4>
        <div class="footer-links flex-column d-flex">
          <a class="text-white py-2 mb-1">Laphrefp</a>
          <a class="text-white py-2 mb-1">HeadPhone</a>
          <a class="text-white py-2 mb-1">Tablets</a>
          <a class="text-white py-2 mb-1">Watch</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-4">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12 text-white">
        <p class="text-center">&copy; 2023 : Design By The Bread Loaf</p>
      </div>
    </div>
  </div>
</footer>
